body {
    color: #999999;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    line-height: 1.80857;
}

html, body{
	height: 100%;
}

/*img logo--------------------------------------------------------*/

.img-fluid {
    max-width: 60%;
    height: auto;
}


/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/
.navbar-dark .navbar-nav .nav-link{
	color: #ffffff;
	letter-spacing: 1px;
	font-size: 14px;
	position: relative;
}
.navbar-dark .navbar-nav .nav-link:hover{
	color: #ffffff;
}
.navbar-dark .navbar-nav .nav-link.active{
	font-weight: 600;
}
.navbar-dark .navbar-nav .nav-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
	right: 0;
	text-align: center;
	margin: 0 auto;
    border-radius: 0px;
    z-index: -1;
}
.navbar-dark .navbar-nav .nav-link.active::after {
	width: 50%;
}


/*------------------------------------------------------------------
    SECTIONS
-------------------------------------------------------------------*/
.main-banner{
	height: 100%;
	position: relative;
}

.main-banner{
	display: table;
    width: 100%;
	text-align: center;
}
.main-banner::after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 0;
    opacity: .6;
}

.heading{
	color: #fff;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	z-index:1;
}
.heading h1{
	color: #ffffff;
	font-weight: 600;
	font-size: 45px;
    letter-spacing: 6px;
	text-transform: uppercase;
}
.heading p{
	font-size: 18px;
	padding: 20px 0px;
}

.btn-outline-success {
    align-items: center;
    color: white;
    border-color: dodgerblue;
}
.btn-outline-success:hover {
    background-color:dodgerblue;
    color: white;
   
}

.btn-outline-success:ac {
    background-color:dodgerblue;
    color: white;
   
}


a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.Login-page{
    display: none;
}

small, .small {
    font-size: 80%;
    font-weight: 400;
    white-space: pre-wrap;
}

.text-muted {
    color: white!important;
}


/*////////////////////////////////FormRegister***********************************/
.login-page{
    height: 100%;
}

.formRegister{
    margin-top: 10px;
	font-family: 'Nunito', sans-serif;
	color: #fff;
	display: table-cell;
	vertical-align: middle;
    align-items: center;
	position: relative;
	z-index:1;
}
h2{
    margin-bottom: 3.5rem;
   font-weight: 700;
	font-size: 40px;
    letter-spacing: 7px;    
    margin-top: 30px;
    text-transform: uppercase;
}

.formRegister .form-row {
    width: 30%;
    margin-left: 35%;
    align-items: center;
    display: block;
}

.formRegister .form-detail .form-row-btn {
	text-align: center;
}
.formRegister .form-detail .input-text {
	margin-bottom: 20px;
}
.formRegister .form-detail input {
    align-items: center;
	width: 60%;
    padding: 3px 3px 3px 3px;
    border: 2px solid transparent;
    border-bottom: 2px solid #e5e5e5;
    appearance: unset;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 700;
    border-radius: 3px;
    color: #333;
}

/*under line in input*/
.formRegister .form-detail .form-row input:focus {
	border-bottom: 3px solid #fe892a;
}

/*******************Register btn***********************************************/
.formRegister .form-detail .register {
	background: #fe892a;
    text-align: center;
	border-radius: 6px;
	width: 150px;
	border: none;
	margin: 11px 0 50px 0px;
	font-family: 'Nunito', sans-serif;
	color: white;
	font-weight: 700;
	font-size: 18px;
    padding: 5px;
}
.formRegister .form-detail .register:hover {
	background: #e37b27;
}

/* select form************************************************************/
select {
    height: 30px;
    width: 60%;
    color: black;
    margin-bottom: 35px;
    border-radius: 3px;
}